*{
    margin: 0px;
    padding: 0px;
}
/* Home start */
.header{
    background-color:#621AC9;
}
.main-menu{
   padding-top: 30px;
    
    display: flex;
    justify-content: space-between;
}
.bar{
margin-left: 15px;
}
.bar i{
color: #fff;
}

.navigation{


}
.navigation ul{
display: flex;

}
.navigation ul li{
list-style: none;

}
.navigation ul li a{
    text-decoration: none;
    padding: 0px 20px;
    color: white;
    font-size: 18px;
}
.quote{
margin-top: 2px;
}
.quote a{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: 40px;
    box-sizing: border-box;
    padding: 16px;
}
.quote a:hover{
background-color:#fff;
color: #000;
}



.social-icons{
    margin-right: 15px;
}
.social-icons ul{
    display: flex;
}
.social-icons ul li{
    list-style: none;
}
.social-icons ul li a{
    text-decoration: none;
    color: #fff;
    padding: 0px 10px;
    font-size: 20px;
}
.social-icons ul li a:hover{
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    background-color: #6f04bc3d;
    box-sizing: border-box;
}
.font-content{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}
.content{
    width: 500px;
    padding: 150px 0px 0px 40px;
    color: white;
}

.content h1 span{
    color:#F153B3;
    font-size: 50px;
}
.content button {
    background-color: #03A9F5;
    border: 1px solid gray;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
}
.scroll-down{
    padding-top: 98px;
}
.scroll-down i{
    padding:5px;
    color: #fff;
}
.scroll-down a{
    text-decoration: none;
    color: #fff;
}
/* home end */

/* start about */
.about{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    
 

}
.about .about-words{
    width: 400px;
    padding-top: 90px;
}
.about .about-img img{
    max-width: 500px;
    height: auto;
}
.about-words h2 span{
    color: #03A9F5;
}
.about-words button {
    background-color: #F12DB9;
    border: 1px solid gray;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
}
.concept{
display: flex;
justify-content: space-evenly;
padding: 70px 100px ;
}

.concept .file .code .setting .write  {
    width: 22%;
    padding: 70px 0px; 
   
}
.concept h3{
   padding: 0px 10px;
}

.concept .file a i{
    font-size: 68px;
    color: #fff;
    border: 3px solid transparent;
    border-radius: 50%;
    padding:10px;
    text-align: center;
    box-sizing: border-box;
    background-color:#03A9F5 ;
    width: 25%;
}
.concept .code a i{
    font-size: 68px;
    color: #fff;
    border: 3px solid  transparent;
    border-radius: 50%;
    padding:10px;
    text-align: center;
    box-sizing: border-box;
    background-color:#41526B ;
    width: 25%;
}
.concept .setting a i{
    font-size: 68px;
    color: #fff;
    border: 3px solid  transparent;
    border-radius: 50%;
    padding:10px;
    text-align: center;
    box-sizing: border-box;
    background-color:#9556F5 ;
    width: 25%;
}
.concept .write a i{
    font-size: 68px;
    color: #fff;
    border: 3px solid  transparent;
    border-radius: 50%;
    padding:10px;
    text-align: center;
    box-sizing: border-box;
    background-color:#F23DBF ;
    width: 25%;
}
.concept-2{
padding: 50px 0;
display: flex;
justify-content: center;
background-color: #03A9F5;

}
.img-vector img{
max-width: 700px;
}
.words{
    margin: 120px 0px 0px 70px;
}
.words ul{
    display: flex;
    
}
.words ul li{
list-style: none;
padding: 20px 30px;
}
.words ul i{
font-size: 40px;
color: #fff;
}
.words ul h6{
font-size: 20px;
color: #fff;
}
.words ul p{
font-size: 18px;
padding-right:  15px;
color: #fff;
}
.team-member{
    padding: 80px 0px;
}
.team-header{
   width: 600px;
   height: auto;
   margin: auto;
}
.team-header span{
    color:#0976B4 ;
    padding: 10px 0px;
}
.team{
    padding: 40px 0px;
    display: flex;
    justify-content: space-evenly;
   
}
.eatch-member{
    width: 30%;
    text-align: center;
}
.eatch-member img{
    width: 300px;
    height: auto;
    padding: 15px 0px;
}

.eatch-member ul{
display: flex;
justify-content: center;
align-items: center;
}
.eatch-member ul li{
list-style: none;
padding: 0px 10px;
}
.eatch-member ul li a{
    text-decoration: none;
    padding:15px   25px 0px 0px;
    color: gray;
   
}
.eatch-member ul li a:hover{
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 5px 15px;
    box-sizing: border-box;
    background-color: #0976B4;
    transition: 400ms;
    color: #fff;
}

.last-content{
    margin: 200px 0px;
    display: flex;
    justify-content: center;
    padding: 0px 300px;

    
}
.last-content img {
    width: 700px;
    height: auto;
}
.text{
    margin-top: 60px;
}
.text span#sub{
    color: #73C8F0;
}
.text span{
    color: #F023B6;
}
.text button {
    background-color: #F023B6;
    border: 1px solid gray;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
}
/* end about */
/* Our Work -Start */

.heading{
    width: 500px;
    height: auto;
    margin: auto;
    padding-top: 20px;
}
 span#pink {
    color: #F021B6;
}
.heading h2 span{
    color: #03A9F5;
}
.working-folder{

}
.working-folder ul{
display: flex;
justify-content: center;
align-content: center;
}
.working-folder ul li{
    list-style: none;
    position: relative;
    
}

.working-folder ul li a{
    text-decoration: none;
    padding: 10px 10px;
    margin-right: 25px;
    font-size: 18px;
    color: #000;
}
.working-folder ul li a.active{
    color: #F021B6;
}
.working-folder ul li a:hover{
color:#03A9F5 ;
}
.working-folder ul li::after {
    content: "";
    display: block;
    width: 1px;
    height: 16px;
    background-color: #03A9F5;
    position: absolute;
    left: 90%;
    top: 0;
    bottom: 0;
    margin: auto;
}
.working-folder ul li:last-child::after{
    background-color: transparent;
}
/* gallary */
.gallary{
    padding: 20px 10px;
    box-sizing: border-box;
}


.part-1{
    display: flex;
    justify-content: center;
}
.part-2{
    display: flex;
    justify-content: center;
}

.client{
    padding: 80px 0;
text-align: center;
background-color:#414CE7;
}
.client h2{
    padding: 20px;
    color: #FFFFFF;
}
.client p{
    padding: 10px ;
    color: #fff;
}
.client h3{
    color: #D863B7;
}
.client h5{
    color: #fff;
}
.client ul{
display: flex;
justify-content: center;
}
.client ul li{
    list-style: none;
}
.client ul li a{
    text-decoration: none;
}
.client ul i{
    color: gold;
    padding: 10px 0;
}

/* blogs */
#Blogs{
padding: 100px 0;
}
.blog-header{
    
    text-align: center;
}
.blog-header h2 span{
    color:#1DABFA ;
}
.blog{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 50px 250px;
}
.each-blog{
   
    border: 1px solid transparent;
    border-radius: 5px;
   width: 25%;
   transform: scale(.90);
}
.each-blog:hover{
    transform: scale(.95);
transition: 600ms;
border: 1px solid rgba(128, 128, 128, 0.459);
border-radius: 5px;

}
.each-blog a img{
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    border-radius: 5px;
    
  
   
    
}
.each-blog  h5{
    padding: 10px 2rem;
  color: violet;
    
}
.each-blog a {
    text-decoration: none;
   
    
}
.each-blog  h3  {
    text-decoration: none;
    color: black;
    padding: 0px 1rem ;
    
}
.each-blog  h3:hover{
    color: #1DABFA;
}
.each-blog  p{
    padding:  0px .70rem;
} 
.each-blog a img.avatar1{
    width: 70px;
    height: 70px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color:#03A9F5 ;
    margin: 15px;
    color: #000;
}
.each-blog a img.avatar2{
    width: 70px;
    height: 70px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color:#9556F5 ;
    margin: 15px;
    color: #000;
}
.each-blog a img.avatar3{
    width: 70px;
    height: 70px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color:#F033B5 ;
    margin: 15px;
    color: transparent
}
/* info */
.map{
   
width: 100%;
height: 600px;
background-color: #03A9F5;
}
.map iframe{
    width: 1200px;
    height: 600px;
    margin: 100px 100px 100px 350px;
    
}
.info{
    padding: 200px 0;
    display:flex;
    justify-content:center;  
}

.info .left{
    display: inline-block;
padding: 10px;

}
.info h1{
    padding:0px 0px  15px 15px ;
}
.info .left .item {
    display: block;
    margin: 0px 0px 16px 0px;
    border: 1px solid gray;
    border-radius: 3px;
    border-radius: 3px;
    padding: 10px 15px;
    
}


button.massage{
width: 200px;
height: auto;
border: 1px solid transparent;
border-radius:105px;
padding:15px;
color: #fff;
background-color: #7004BC;
}
.contact ul li{
    list-style: none;
    padding: 10px 5px;
}
.contact ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.textarea{
    margin-top: 90px;
    padding-right: 90px;
}
.contact ul li  a:hover{
    color: #03A9F5;
}
.contact ul li  a.active{
    color: #03A9F5;
}
.contact ul li  i{
    color:#7004BC ;
    font-size: 25px;
    padding: 0 8px;
}

/* footer */
.social-info{
    display: flex;
    justify-content: space-around
}
.social-info  ul{
    display: flex;
}
.social-info ul li{
    list-style: none;
}
.social-info ul li a{
text-decoration: none;
padding: 0px 10px;
margin: 0px 10px;
color: gray;
font-size: 18px;


}
.social-info ul li a:hover{
    padding: 0px 10px;
margin: 0px 10px;
color: #000;
border: 1px solid transparent;
border-radius: 50%;
background-color: #8CD8FA;
transform: scale(1.5);


}
.copyright{
    color: gray;
}
.copyright:hover{
    color: #03A9F5; 
}

